{{#partial "content"}}
    <h1 class="text-center pt-4 pb-5">My Squads</h1>
    <hr>
    <div class="row">
        <div class="col-md-12 hero">
            {{#if squads}}
                {{#each squads}}
                    <div class="card text-dark pt-3 mb-3" style="width:23rem;">
                        <div class = "card-body">
                            <h3 class="card-title">Squad name: {{name}}</h3>
                            <hr>
                            <p class="card-text">Max size: {{maxsize}}</p>
                            <p class="card-text">Cause: {{cause}}</p>
                            <a href="/squads/{{id}}"><button class="btn btn-info btn-md">Hero in squad</button></a><br><br><hr>
                        </div>
                    </div>
                {{/each}}

{{else}}
    <h3>Just create at least one squad</h3>
            {{/if}}
    </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
                {{#if squad}}
                    {{#each squad.hero}}
                        <div class="card text-dark pt-3 mb-3" style="width:23rem;">
                            <div class = "card-body">
                                </h3><a href="/squad/{{squad.id}}/delete"><button class="btn btn-danger">Delete Squad</button></a>
                                <h3 class="card-title">Name: {{name}}<hr>
                                <p class="card-text">Age: {{age}} years</p>
                                <p class="card-text">Powers: {{powers}}</p>
                                <p class="card-text">Weakness: {{weakness}}</p>
<!--                                <p class="card-text">Occupied: {{occupied}}</p>-->
<!--                                <a href="/heroes/{{id}}"><button class="btn btn-info btn-md">Delete</button></a><br><br><hr>-->
                            </div>
                        </div>
                    {{/each}}

                {{else}}
<!--                    <p>No Heroes Available!</p>-->
                {{/if}}
        </div>
    </div>

{{/partial}}
{{#partial "footer"}}
    {{#if squads}}
        <a class="text-center pt-2 pb-2" href="/squads/delete"><button class="btn btn-lg btn-danger"> Delete All Squads</button></a>
    {{else}}
    {{/if}}
{{/partial}}

{{>layout.hbs}}